<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repair Lycée</title>
  <link rel="stylesheet" href="../Static/main.css">
  <script src="../Static/index.js" defer></script>
</head>
<body>
  <!-- Barre horizontale & boutons -->
  <header>
    <nav>
      <ul>
        <li><a href="formulaire.html" id="formulaire-btn">Soumettre un formulaire</a></li>
        <li><a href="https://www.eiffel-bordeaux.org" target="_blank">Site du lycée</a></li>
        <li><a href="#pgblock">Page d'accueil</a></li>
      </ul>
    </nav>
  </header>

  <section id="tit1">
    <h1>Repair Lycée</h1>
    <h2>Lycée Gustave Eiffel Bordeaux</h2>
  </section>

  <div id="pgblock">
    <p id="p1s">Le repaire lycée est un espace de réparation dédié aux élèves, aux enseignants et aux personnels scolaires qui rencontrent des problèmes avec leurs équipements informatiques.
      Inspiré du concept des repaire café, il permet à toute personne ayant un matériel défectueux de se rendre directement dans un lycée où des élèves formés et des professionnels 
      qualifiés seront à même de diagnostiquer et réparer les appareils. Que ce soit pour un ordinateur, une tablette ou un autre périphérique, ces "techniciens en herbe" offriront des 
      solutions adaptées, tout en mettant en avant l’aspect pédagogique et collaboratif de l’initiative.
    </p>
    <p id="p2s">Le fonctionnement du repaire lycée est simple : une fois l'équipement défectueux identifié, les utilisateurs se rendent dans le lycée partenaire où un espace de réparation est 
      aménagé. Des sessions de réparation sont programmées régulièrement et peuvent être suivies sur le site du projet. L’objectif est de favoriser l'entraide et la transmission de 
      savoir-faire entre les élèves et les visiteurs, tout en réduisant les coûts et l'impact environnemental lié à l'achat de nouveaux matériels. Ce projet vise à promouvoir l’autonomie 
      numérique et à renforcer la communauté scolaire autour d'une démarche durable.
    </p>
  </div>
</body>
</html>