<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repair Lycée</title>
  <link rel="stylesheet" href="../Static/main.css">
  <script src="../index.js" defer></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="formulaire.html" id="formulaire-btn">Soumettre un formulaire</a></li>
        <li><a href="https://www.eiffel-bordeaux.org" target="_blank">Site du lycée</a></li>
        <li><a href="#pgblock">Page d'accueil</a></li>
      </ul>
      <a href="comptes.html">
        <button style="border-radius: 50%; background: url('favcomptes.ico') no-repeat center center; width: 50px; height: 50px; background-size: cover;"></button>
      </a>
    </nav>
  </header>

  <main>
    <section id="tit1">
      <h1>Repair Lycée</h1>
      <h2>Lycée Gustave Eiffel Bordeaux</h2>
    </section>

    <div id="pgblock">
      <div class="content">
        <img src="path/to/image1.jpg" alt="Image description" class="circular-image">
        <p id="p1s">Le repaire lycée est un espace de réparation dédié aux élèves, aux enseignants et aux personnels scolaires qui rencontrent des problèmes avec leurs équipements informatiques.</p>
      </div>
      <div class="content">
        <img src="path/to/image2.jpg" alt="Image description" class="circular-image">
        <p id="p2s">Le fonctionnement du repaire lycée est simple : une fois l'équipement défectueux identifié, les utilisateurs se rendent dans le lycée partenaire où un espace de réparation est aménagé.</p>
      </div>
    </div>

    <div class="buttons">
      <button id="formulaire-btn">Soumettre un formulaire</button>
      <button id="info-btn">Plus d'infos</button>
    </div>

    <div class="imagine"> 
      <section class="hidden"> 
        <h1>📌- Notre mission</h1>
        <p>Faciliter l'accès à des solutions de réparation tout en promouvant l'entraide et le partage des connaissances.</p> 
      </section>
      <section class="hidden">  
        <h1>🔧- Comment ça marche ?</h1>
        <p>Déposez votre matériel : Apportez vos appareils défectueux au point de collecte indiqué.</p> 
      </section>
      <section class="hidden"> 
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </section>
    </div> 
  </main>

  <footer>
    <p>&copy; 2023 Repair Lycée. Tous droits réservés.</p>
  </footer>
</body>
</html>